<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Difficult" value="0"/>
		<add key="Size" value="0"/>
		<add key="Mode" value="0"/>
		<add key="Head" value="0"/>
		<add key="Body" value="0"/>
		<add key="Theme" value="0"/>
		<add key ="Record" value="0"/>
	</appSettings>
</configuration>